*{box-sizing: border-box;}
body{
	margin: 0;	
}

/*birinchi-qism*/
.birinchi-qism{
	text-align: center;
	padding: 30px 0;
	background-color: #71d7e0cc;
}
.birinchi-qism-img img{
	width: 300px;
	border-radius: 30px;
	border: 5px solid black;
}


.birinchi-qism-satr p{
	font-weight: bold;
	font-size: 16px;
	font-style: italic;	
}


.birinchi-qism-icons ul{
	list-style-type: none;
}
.birinchi-qism-icons ul li{
	display: inline-block;
	max-width: 100%
}
.birinchi-qism-icons ul a{
	text-decoration: none;
	padding: 10px;
	transition: 0.5s;
}
.birinchi-qism-icons a:hover{
	color: #d4b1d0;
}



/*ikkinchi-qism*/
.ikkinchi-qism{
	margin: 60px auto;
	text-align: center;
	background-color: white;
}
.ikkinchi-qism p{
	margin: 0 100px;
	font-size: 16px;
	text-align: left;
}
.ikkinchi-qism p a{
	text-decoration: none;
	background-color: #179bd7;
	color: white;
	text-transform: uppercase;
	transition: 0.5s;
}
.ikkinchi-qism p a:hover{
	background-color: green;
	color: white;
}


/*uchinchi-qism*/
.uchinchi-qism{
	background-image: url(../img/mountains_bg.jpg);
	background-repeat: no-repeat;
	background-position: 50% 100%;
	padding: 80px 0;
	}
.uchinchi-qism div{
	margin: 30px auto;
	padding: 30px;
	width: 500px;
	height: 300px;
	background-color: #7956494d;
	box-shadow: 0 0 20px 0 #FFEB3B;
}
.uchinchi-qism h2{
	text-align: center;
}
.uchinchi-qism ul{
	list-style-type: none;
	margin: 0;
}


/*turtinchi-qism*/

.container{
	margin: 0 auto;
	max-width: 960px;
}
.turtinchi-qism{
	padding: 30px 0;
	text-align: center;
}
.turtinchi-qism h2{
	font-style:italic;

}
.turtinchi-qism img{
	max-width: 100%;
	vertical-align: middle;
}
.manbalar-list{
	font-size: 0;
}
.manba{
	display: inline-block;
	width: 25%;
	font-size: 16px;
}
.manba-img-link{
	display: block;
	margin: 10px 30px;
}
.manba-yozuv-link{
	text-decoration: none;
}
.turtinchi-qism a{
	text-decoration: none;
}

/*oltinchi-qism*/

.oltinchi-qism{
	background-color: #3dd7e4cc;
	padding: 50px 0;
}

.wrapper{
	width: 600px;
	margin: 0 auto;
	padding-bottom: 50px;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 0 15px 0 black;
}
.malumotlar-top h2{
	margin: 0;
	padding: 20px 0;
	text-align: center;
	font-size: 20px;
	font-family: sans-serif;
}

.malumotlar-top p{
	margin: 0;
	padding: 0 60px 20px 60px;
	text-align: center;
	font-size: 16px;
	font-family: sans-serif;
}
.label-input{
	padding: 15px 90px 0 90px;
}
.label{
	padding: 20px 0;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
}

.textarea-name{
	border: 2px solid black;
}
.text-name{
	width: 100%;
	height: 40px;
	border: 2px solid black;
}
.checkbox-name{
	padding: 0 90px;
}
.xat-matn{
	border: 0 solid black;
	background-color: #6a7ad0; 
	margin: 20px 50px;
	padding: 0.5px 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}
hr{
	width: 400px;
	border: 1px solid black;
}
.footer-sayt{
	text-align: center;
}
.footer-sayt ul{
	list-style-type: none;
}
.footer-sayt li{
	display: inline-block;
}



/*yettinchi-qism*/
.yettinchi-qism{
	background-color: #ccc;
	padding: 30px 0;
	font-size: 0;
}
.footers{
	width: 100%;
	font-size: 0;
}
.footer{
	vertical-align: top;
	display: inline-block;
	padding: 20px;
	width: 33.33%;
	font-size: 16px; 
}
.footer-sahifa{
	padding: 0 30px;
}
.footer ul{
	padding-left: 0;
	list-style-type: none;
}
.footers h3,
.footers p{
	margin: 15px 0;
	font-size: 16px;
} 